@font-face {
    font-family: 'SchoolSafetyRoundedSmile';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-R.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

.title{
    font-size: 50px;
    font-family: "궁서";
    font-style: italic;
    font-weight: 900;
    margin: 5px;
    padding: 0px 10px 20px 0px;
}
 .c1{
    font-size: 15px;
    font-family: 'SchoolSafetyRoundedSmile';
    font-weight: bold;
    word-spacing: 10px;                  /* 단어간격(어간) */
    letter-spacing: 5px;
    color: blue;
    padding: 0px;
    margin: 10px;   
 }  

 .c2{
    text-align: center;
    text-decoration: underline overline line-through;
    color: red;
    padding: 10px;

 }
 .c3{
    font-size: 20px;
    font-weight: bold;
    text-align: center ;
    text-decoration: underline overline line-through;
    color: red;
    padding: 10px;
 }
 .box{
    border: solid 3px #000;
 }