
.imgBox{
    width: 300px; height: 300px;
    border: 1px solid red; margin-bottom: 20px;
}
/* width 설정하지 않으면 자동으로 기본값 100% 단, 이미지/비디오 제외되며 원본 크기*/
.imgBox > img{width: 100%; height: 100%;}

.img1{object-fit: fill;} /* (기본값) 영역채움 , 비율무시 */
.img2{object-fit: contain;} /* 전체영역이 보이도록 비율 유지 */
.img3{object-fit: cover;} /* 영역채우면서 비율 유지 , 일부 짤림 */
.img4{object-fit: none;} /* 이미지사이즈 조정 없이 그대로 출력 */
.img5{object-fit: cover; object-position: left;}
.img6{object-fit: contain; object-position: right;}