.box{
    border: 1px solid red; padding: 30px; 
}

.back1{
    background-color: blue;
    background-color: rgb(0, 0, 225);
    background-color: rgba(0, 0, 255, 0.5);
    background-color: #0000ff;
}

.back2{
    background-image: url("배경.jpg"); 
    background-repeat: no-repeat;/* 채우기 없음 */ 
    background-position: left top; /* left right center top bottom */
}
.back3{
    background-image: url("패턴.jpg");
    background-repeat: repeat; /*(기본값)채우기*/
}
.back4{
    background-image: url("배경.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* 디바이스/브라우저 전체 크기 */
    background-attachment: fixed; /* 패럴략스 : 스크롤 이해도 배경이미지는 고정 된더.*/
}
/* 아이콘1개(이미지1개) 이므로 여러 아이콘들을 호출하는 것 보다
    아이콘들을 하나의 이미지에 모아두고 사용하는 예제 */
.box2{
    width: 100px; height: 100px;
    background-image: url("아이콘들.png");
    background-repeat: no-repeat;
    background-position: 10px 10px; /*위치 이동 ,left , right*/
}